table,
td {
    border: 1px solid #333;
    font-family: 'Source Code Pro', monospace;
}

thead,
tfoot {
    background-color: #333;
    color: #fff;
}

#img-external {
    border-radius: 30%;
}