
<web-app xmlns="https://jakarta.ee/xml/ns/jakartaee"
xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee
                    https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd"
version="5.0"
metadata-complete="true">
<welcome-file-list>
    <welcome-file>index.html</welcome-file>
</welcome-file-list>
<!-- ++++++++++++++++++++++++++++++++++++++++++ -->
<servlet>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>LoginServlet</servlet-class>
</servlet>

<servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/Login</url-pattern>
</servlet-mapping>
<!-- ++++++++++++++++++++++++++++++++++++++++++ -->

<servlet>
    <servlet-name>LogoutServlet</servlet-name>
    <servlet-class>LogoutServlet</servlet-class>
</servlet>

<servlet-mapping>
    <servlet-name>LogoutServlet</servlet-name>
    <url-pattern>/Logout</url-pattern>
</servlet-mapping>
<!-- ++++++++++++++++++++++++++++++++++++++++++ -->

<servlet>
    <servlet-name>ProfileServlet</servlet-name>
    <servlet-class>ProfileServlet</servlet-class>
</servlet>

<servlet-mapping>
    <servlet-name>ProfileServlet</servlet-name>
    <url-pattern>/Profile</url-pattern>
</servlet-mapping>
<!-- ++++++++++++++++++++++++++++++++++++++++++ -->

</web-app>
